<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/hosts" ng-click="showView('#/hosts')">Busybody</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-controller="mvNavbarCtrl" ng-show="identity.isAuthenticated()">
                <li ng-class="{active: page=='hosts'}"><a class="nav" href="#/hosts" ng-click="showView('#/hosts')">Hosts</a></li>
                <li ng-class="{active: page=='eventLog'}"><a href="#/eventLog" ng-click="showView('#/eventLog')">Event Log</a></li>
                <li ng-class="{active: page=='systemStatus'}"><a href="#/systemStatus" ng-click="showView('#/systemStatus')">System Status</a></li>
                <li ng-class="{active: page=='config'}"><a href="#/config" ng-click="showView('#/config')">Config</a></li>
            </ul>
            <div ng-include="'app/account/navbar-login.html'"/>
        </div>
    </div>
</div>
